<h1> Search For a Movie: </h1>

<form action="/results" method="GET">
    <input type="text" placeholder=" Movie Name" name="search"> </input>
    <button type="submit"> Hey search for the result</button>
</form>