<h1> This is the sectet Page!</h1>

<p>You found me!</p>
<img src="http://i1.2pcdn.com/node14/image/article/201311/14/20131114014653a0dmqdxkxkeohmsj.jpg">

<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">Logout!</a></li>
<li><a href="/login">Login!</a></li>