<h1>You fell in love with: <%=thingVar.toUpperCase() %></h1>
<% if(thingVar.toLowerCase() === "rusty"){ %>
    <p> Good choice! </p>
<% } else{ %>
    <p> Bad choice! Why you choose <%=thingVar%> </p>
    <p> This is from love.ejs file</p>
<% } %>