<h1>This is the SEARCH PAGE</h1>
<form action="results" method="GET">
    <input type="text" name="search" placeholder="please enter the movie name"> </input>
    <button type="submit"> Submit the MOVIE!!</button>
</form>

