<% include partials/header %> 
<h1>This is the SEARCH PAGE</h1>
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="Movie name"> </input>
    <button type="submit"> Submit the MOVIE!!</button>
</form>
<% include partials/footer %> 

